@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
*{
 margin: 0px;
}

body{
    
    font-family:'Lato' ;
    font-size: 17px;
    
}
h1{
    font-family:'Roboto Mono';
}

header{
    display: flex;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.431) ;
    background-color: #d1d0d0;
    box-shadow: -2px 3px 8px rgba(0, 0, 0, 0.349);
    
}
header .han{ 
    
    display:none
}
header .han>div{
    background-color: #1E1E1E;
    width: 40px;
    height: 5px;
    margin: 3px;
    
    border-radius: 5px;
}
header img{
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
    
   
    

    
}
header nav {
    margin-left: 40px;
    margin: auto;

}
header nav a{
    font-size: 0.8em;
    color: rgb(10, 8, 8);
    text-decoration: none;
    margin-right: 30px;
    padding: 5px;
}
header nav a:hover{
    background-color: rgba(255, 255, 255, 0.993);
}
main{
    background-image: url('img/17580.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    

}
main div {
    margin: 10px;
    
}
main .conteudo{
    
    flex: 1;
    text-align: center;
    padding:10px;
    border-radius: 10px;
    min-width: 350px;
    
   
    
}
main .conteudo h1{
  
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #EB4868;

}
main .conteudo p {
  
    margin:auto;
    font-size: 1em;
   
    text-align: justify;
    max-width: 350px;
    margin-bottom: 50px;
}
main .conteudo a{
    
    color:rgb(255, 255, 255);
    background-color:#FB235E;
    font-weight: bold;
    padding: 15px;
    width: 300px;
    position: relative;
    bottom: 20px;
    text-decoration: none;
    font-size: 18px;
}

main .produto{
    max-width: 450px;
        flex: 1;
        
}
main .produto img{
    width: 100%;
    min-width: 440px;
    max-width: 444px;
   
}

main .funcao{
    min-width: 330px;
    display: flex;
   justify-content: center;
    flex-wrap: wrap;
    color:#7CBE50;

    flex: 1;
    
}
main .funcao div{ 
    max-width: 60px;
    margin: 30px;
   }
main .funcao img{
    max-width :60px;
  
}


section{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    color: white;
    background-image:url('/img/551467.png') ;
    background-size: cover;
}
section div{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align:center;
    background-size: cover;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    justify-items: center;
}
section div h1{
    color: #9c8f8f;
    font-size: 1.2em;
    transition-duration: 0.1s;
}
section div h1:hover{
    color: #d3cccc;
    text-shadow: 1px 1px 5px;

}
section div p{
    margin-top: 40px;
    color:#979696;
    font-size: 1em;
    text-align: center;
}

footer{
    
    background-color: #1E1E1E;
    color:white;
    text-align: center;
    padding: 8px;
}


@media(max-width:838px){
    body{
        font-size: 16px;
    }
    main{
        flex-direction: column;
        
    }
    main img{
        min-width:20px;
        
    }
}
@media(max-width:785px){
    header{
        align-items: center;
       
    }
    header .han{
        display: flex;
    flex-direction: column;
    justify-content: left;
    cursor: pointer;
    }
    header .logo{
        margin: auto;
        
       
    }
    header nav {
        display: none;
    }


}
@media (max-width:400px){
    body{
        font-size: 14px;
    }
}
